*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


.wrapper{
    background-color:transparent;
    width: 420px;
    color: white;
    border-radius: 14px;
    padding: 25px;
    border: 2px solid  rgba(255, 255, 255, .2);
    backdrop-filter: blur(4px);
}
.wrapper h1{
    font-size: 37px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding-left:5%;
    color: white;

}

.input-box input::placeholder{
    color: white;
    font-size: 16px;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: large;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.wrapper a{
    
    text-decoration: none;
    color: white;
}

.wrapper a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.448);
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: 800;
    font-size: 16px;
}

.wrapper .register-link{

    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.wrapper .register-link a{
    font-weight: 600;
}